body {
  font-family: Garamond, serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: normal;
  color: #000000;
  margin: 0; 
  background-color: #F4BC84;}

div {
  margin:0;
  border:0;
  padding:0;
  position:relative;}

h1, h2, h3 {
  text-align: center;
  font-weight:normal; 
  margin: 0;
  color: #AC601A;
  text-transform: uppercase;
  text-align: center;
  font-size:30px;}

p {
  font-size: 1em;
  padding: 0; 
  margin:0;
  color: #AC601A;}

ul {
  list-style:none;
  margin:0;
  border:0;
  padding:0;}

/*  LAYOUT  */

.centering-wrapper {
  margin: 1em auto 0 auto;
  width:90%; 
  max-width:800px;
  height:900px;
  position: relative;
}

header, main, footer {
  width:100%;
  margin:0 auto;
  box-sizing:border-box;
  border:0;
}

main {
  padding:2em 0;
  border-top: .5em solid #fff8f0;
  border-left: .5em solid #fff8f0;
  border-right: .5em solid #fff8f0;
  border-bottom: 0;}

  main ul li {
    text-align: center;} 

  main ul li a{
    text-transform: uppercase;
    font-size:1.4em;
    color: #ac601b;}

footer {
  border-top: 0;
  border-left: .5em solid #fff8f0;
  border-right: .5em solid #fff8f0;
  border-bottom: .5em solid #fff8f0;}

  footer address {
    color: #fff7c7;
    text-transform: uppercase;
    text-align: center;}



/*  BANNER  STYLE */

main div.banner {
  width: -moz-calc(100% + 1em);
  width: -webkit-calc(100% + 1em);
  width: calc(100% + 1em);
  margin:0 0 0 -.5em;}

  .banner > .layer {
    width:100%;
    height:.5em;}

    .layer > .end {
      position: absolute;
      width: .5em;
      height: .5em;}

    .end.right {
      right: 0;}

    .end.left {
      left: 0;}


  /*  Banner COLORING */

.layer.first {
  background-color: #bf7633;}
  
  .layer.first > .end {
    background-color: #bf7633;  }

.layer.second {
  background-color: #fde89e;}

  .layer.second > .end {
    background-color: #fdeeaf;  }

.layer.third {
  background-color: #fde08e;}

  .layer.third > .end {
    background-color: #fde08e;  }

.layer.fourth {
  background-color: #721b07;}

  .layer.fourth > .end {
    background-color: #721b07;  }

.layer.fifth {
  background-color: #832c0d;}

  .layer.fifth > .end {
    background-color: #832c0d;  }

.layer.sixth {
  background-color: #bf7633;}

  .layer.sixth > .end {
    background-color: #c79a54;  }